.datahub {
    display: grid;
    color: white;
    justify-content: center;
    align-content: center;
    margin: 6rem 0rem;
    row-gap: 6rem;
    grid-template-rows: auto;
}

.data__container {
    display: flex;
    gap: 4rem;
    justify-content: center;
}

.data__image {
    width: 600px;
}

.content {
    width: 25%;
    letter-spacing: 0.1rem;
}

.content h2 {
    color: #ca1a1f;
}

.content p {
    margin-top: 2rem;
}

/* MEDIA QUERIES LAPTOPS */

@media only screen and (min-width: 980px) and (max-width: 1401px) {
    .content p {
        font-size: 1rem;
    }
}

/* MEDIA QUERIES - MOBILE DEVICES */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .data__container {
        flex-direction: column;
        display: flex;
    }

    .data__image {
        width: 90%;
    }

    .content {
        width: 90%;
        text-align: center;
    }
}

/* MEDIA QUERIES - MEDIUM DEVICES */

@media only screen and (min-width: 481px) and (max-width: 979px) {
    .data__container {
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 80%;
    }

    .datahub {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
